<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveUrl</servlet-name>
        <servlet-class>SaveUrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteURL</servlet-name>
        <servlet-class>deleteURL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateURL</servlet-name>
        <servlet-class>updateURL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpeedDial</servlet-name>
        <servlet-class>SpeedDial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletespeed</servlet-name>
        <servlet-class>deletespeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Retrive</servlet-name>
        <servlet-class>Retrive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSpeed</servlet-name>
        <servlet-class>updateSpeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search1</servlet-name>
        <servlet-class>search1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveUrl</servlet-name>
        <url-pattern>/SaveUrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteURL</servlet-name>
        <url-pattern>/deleteURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateURL</servlet-name>
        <url-pattern>/updateURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpeedDial</servlet-name>
        <url-pattern>/SpeedDial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletespeed</servlet-name>
        <url-pattern>/deletespeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Retrive</servlet-name>
        <url-pattern>/Retrive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSpeed</servlet-name>
        <url-pattern>/updateSpeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search1</servlet-name>
        <url-pattern>/search1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
